baloofilerc
dconf
gtkrc
gtkrc-2.0
kactivitymanagerdrc
kactivitymanagerd-statsrc
kconf_updaterc
kded5rc
kdedefaults
kdeglobals
kglobalshortcutsrc
kiorc
konsolerc
ktimezonedrc
kwinoutputconfig.json
kwinrc
kxkbrc
mimeapps.list
mozilla
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
zen
.cache
.lesshst
.ssh
.wget-hsts
.zsh-history
.zshenv
Desktop
Downloads
opt
